
{% extends 'base.html.twig' %}
{% block body %}
    <style>
        table{
            alignment: right;
            text-align: right;
            height: 100px;

        }
        td{
            width: 250px;
            font-size: 25px;
        }
        h2{
            text-align: center;
        }
        h3{
            text-align: right;
        }
        #titre1{
            text-align: right;
        }
        #signature{
            text-align: left;
        }
    </style>


    <p id="titre1">الجمهورية التونسية
        رئاسة الحكومة
    </p>
    <br>

    <h2>نموذج الملحق عدد 5</h2><br>
    <h2>بطاقة بيانات حول الصفقات التي تمّ عرضها وإسنادها خلال الثلاثية الثانية من سنة  {{ dateannee }}</h2><br>
    <h2>(بما في ذلك الصفقات المبرمة في إطار الإجراءات المبسّطة)</h2><br><br>

    <h3>المشتري العمومي: شركة النقل بتونس</h3><br>
    <h3>{{varfinal}} : المسؤول عن خلية الصفقات العمومية ولقبه</h3><br>
    <h3>:الهاتف: 71904858 الفاكس: 71904871 العنوان الإلكتروني </h3><br><br><br>



    <table class="table" border=" 4px solid">
        <thead>
            <tr>
                <td rowspan="2">عدد مشاريع الختم النهائي</td>
                <td colspan="2">مشاريع ملاحق الصفقات</td>
                <td colspan="2">مشاريع الصفقات بالتفاوض المباشر</td>
                <td rowspan="2">عدد تقارير الإنتقاء الأوّلي</td>
                <td colspan="2">تقارير تقييم العروض</td>
                <td rowspan="2">صنف الطلبات</td>

            </tr>
            <tr>
                <td colspan="1">العدد</td>
                <td colspan="1" >المبلغ الجملي(د)</td>
                <td colspan="1">العدد</td>
                <td colspan="1" >المبلغ الجملي(د)</td>
                <td colspan="1">العدد</td>
                <td colspan="1" >المبلغ الجملي(د)</td>
            </tr>

        </thead>
        <tbody>
        {% for form5_trimestre1 in form5_trimestre1s %}
            <tr>


                <td>{{ form5_trimestre1.nombreprojetfinaux }}</td>



                <td>{{ form5_trimestre1.totalprojet }}</td>
                <td>{{ form5_trimestre1.nombreprojet }}</td>

                <td>{{ form5_trimestre1.totalaccord }}</td>
                <td>{{ form5_trimestre1.nombreaccord }}</td>
                <td>{{ form5_trimestre1.nombrerapportpreselection }}</td>
                <td>{{ form5_trimestre1.totalrapport }}</td>
                <td>{{ form5_trimestre1.nombrerapport }}</td>

                <td>{{ form5_trimestre1.classementdemande }}</td>



            </tr>
            
        {% endfor %}
        </tbody>
    </table>
<br>
    <a href="{{ path('form5_trimestre2_new',{'id': date.id}) }}" class="btn btn-dark">إضافة</a>

    <br>
<br><br><br>

    <h3 id="signature">الإمضاء<br>
        مدير إدارة كتابة لجان الصفقات
        <br>ومراقبة المصاريف<br>
         {{varfinal}} 
    </h2>
{% endblock %}
