{% extends 'base.html.twig' %}

{% block body %}
<style>
h1{
     text-align :center;
            align-content: space-between;
            word-spacing: 10px;
            font-size: 20px;
            letter-spacing: normal;
            justify-content: right;
            tab-size: 20px;
            font-family: "Times New Roman";
}
#titre1{
    text-align :right;
            align-content: space-between;
            word-spacing: 10px;
            font-size: 20px;
            letter-spacing: normal;
            justify-content: right;
            tab-size: 20px;
            font-family: "Times New Roman";
}

#titre2{
    text-align :center;
            align-content: space-between;
            word-spacing: 10px;
            font-size: 20px;
            letter-spacing: normal;
            justify-content: right;
            tab-size: 20px;
            font-family: "Times New Roman";
}


#soustitre1,#choix1{
    text-align :right;
            align-content: space-between;
            word-spacing: 5px;
            font-size: 20px;
            letter-spacing: normal;
            justify-content: right;
            tab-size: 10px;
            font-family: "Times New Roman";
}

#soustitre2{
    text-align :right;
            align-content: space-between;
            word-spacing: 5px;
            font-size: 15px;
            letter-spacing: normal;
            justify-content: right;
            tab-size: 10px;
            font-family: "Times New Roman";
}
td,th,tr /* Toutes les cellules des tableaux... */
{
    
   text-align:right;

            align-content: space-between;
            word-spacing: 5px;
            font-size: 20px;
            letter-spacing: normal;
            justify-content: right;
            
            font-family: "Times New Roman";
    border: 1px solid black; /* auront une bordure de 1px */
}
table{
      text-align :right;
            
}
input{
    border-color:white;
}
</style>


<div class="container">
</div>
<br><br><br>

<h1>أعمال لجنة الختم النهائي</h1>

<table>

<thead>
<tr>
<td>موضوع الصفقة </td>
<td> تاريخ إبرام الصفقة</td>
<td>صاحب الصفقة</td>
<td>عددالصفقة</td>
<td> عدد طلب العروض</td>
<td>تاريخ موافقة اللجنة الداخلية لمراقبة الصفقات</td>
<td>تاريخ موافقة مجلس الادارة </td>
<td> تاريخ امضاء الصفقة </td>
<td>المبلغ الاصلي للصفقة </td>
<td>مبلغ الضمان النهائي </td>
<td> أجال التنفيذ التعاقدي</td>
<td>تاريخ الاستلام الفعلي</td>
<td> تاريخ الاستلام النهائي</td>
</tr>


</thead>

<tr>
{{form_start(form)}}
<th>{{form_widget(form.var1)}}</th>
<th>{{form_widget(form.var2)}}</th>
<th>{{form_widget(form.var3)}}</th>
<th>{{form_widget(form.var4)}}</th>
<th>{{form_widget(form.var5)}}</th>
<th>{{form_widget(form.var6)}}</th>
<th>{{form_widget(form.var7)}}</th>
<th>{{form_widget(form.var8)}}</th>
<th>{{form_widget(form.var9)}}</th>
<th>{{form_widget(form.var10)}}</th>
<th>{{form_widget(form.var11)}}</th>
<th>{{form_widget(form.var12)}}</th>
<th>{{form_widget(form.var13)}}</th>
{{form_end(form)}}
</tr>

<tr></tr>

<tr></tr>
</table>


{% endblock %}